@using EdgarAparicio.PastesCatalina.Business.Entity
@model Paste

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Nombre</h3>
    </div>
    <div class="panel-body">
        <span>Descripcion: @Model.Descripcion</span>
        <br />
        <span>Tipo de Sabor: @Model.TipoSabor.Nombre</span>
    </div>
    <div class="panel-footer">

        <a class="btn btn-lg"
           asp-controller="Home" asp-action="Detalle"
           asp-route-idPaste="@Model.Id">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
        <a class="btn btn-lg"
           asp-controller="Home" asp-action="Editar"
           asp-route-idPaste="@Model.Id">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-lg"
           asp-controller="Home" asp-action="Eliminar"
           asp-route-idPaste="@Model.Id">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</div>
